:root {
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
}

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
  background-color: #f4f8fb;
  font-family: 'Kanit', sans-serif;
  color: var(--color-text-primary);
}

h2 {
  font-size: 28px;
}

.description {
  color: var(--color-text-secondary);
  font-size: 14px;
}